* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  display: flex;
  gap: 10px;
  width: 100vw;
  height: 500px;
  border: 1px solid black;
}
.child {
  width: 100px;
  height: 100px;
  background-color: aqua;
  /* flex-shrink: 1; */
  flex-grow: 1;
}

.child1 {
  flex-grow: 5;
  order: 1;
}
.child2 {
  flex-grow: 8;
}
.parent2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  width: 100vw;
  height: 300px;
  border: 1px solid black;
}
.childs {
  width: 100px;
  height: 100px;
  background-color: aqua;
  /* flex-shrink: 1; */
  /* flex-grow: 1; */
}
.child21 {
  /* align-self: flex-start; */
}