.parent {
  width: 500px;
  height: 500px;
  background-color: gray;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bacha {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  font-size:36px;
  border: 1px solid black;


}

.bacha2 {
  align-self: flex-end;
}