* {
  margin: 0;
  padding: 0;
}
.parent {
  padding: 5px;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
}
.parent1 {
  background-color: #0a0a0a;
}
.parent2 {
  background-color: #121212;
}
.parent3 {
  background-color: #1a1a1a;
  color: white;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.parent4 {
  background-color: #222222;
}
.parent5 {
  background-color: #2a2a2a;
}
.parent6 {
  background-color: #333333;
}
