.parent {
  /* width: 500px; */
  height: 500px;
  background-color: gray;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  /* flex-wrap: wrap-reverse; */
  
  
}

.bacha {
  /* width: 200px; */
  height: 100px;
  background-color: green;
  color: white;
  font-size:36px;
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  
}
.bacha1 {
  order: -3;
}
.bacha2 {
  flex-grow: 2;
}
.bacha3 {
  flex-grow: 2;
  order: -2;
}

.bacha4 {
  flex-grow: 3;
  order: -3;
}