.screen{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0px;
    margin: 0px;
}
.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    
}

.line {
    height: 2px;
    background-color: blue;
}

.position {
    text-align: end;
}

.detail {
    padding: 15px;
    background-color:red;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    justify-content: center;
}

.field {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px 4px 0px;
}

.phone {
    rotate: 90deg;
}

p {
    color: white;
}

span {
    background-color: white;
    border-radius: 4px;
    padding: 1px;
}

.name {
    padding-block:50px;
    padding-inline: 10px;
    background-color: gray;
    border-radius: 20px 0px 0px 20px;
}