.parent {
  width: 500px;
  height: 250px;
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 70px);

}
.child {
  width: auto;
  height: auto;
  background-color: aqua;
  border: 1px solid black;
}
.child1 {
  /* grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3; */
}
.child7 {
  grid-column-start: 2;
  grid-column-end: 5;
}
 
