* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  /* width: 90vw; */
  /* height: 50vh; */
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(896, 1fr);
  grid-template-rows: repeat(1, 30px);
}

.key {
  grid-column: span 40;
}
.number {
  grid-column: span 44;
}
.backspace {
  grid-column: span 72;
}

/* .tab {
  grid-column-start: 1;
  grid-column-end: 3;
} */




/* https://www.youtube.com/watch?v=7AgEjgUtho4&t=48s&pp=ygUbZ3JpZCBpbiBjc3MgY29kZSB3aXRoIGhhcnJ5 */
/* https://www.youtube.com/watch?v=uE3YdHfkuxU&t=175s&pp=ygUSZ3JpZCBpbiBjc3NuaXBwZXRz */