.keyboard {
  display: grid;
  grid-template-columns: repeat(40, 20px);
  grid-template-rows: repeat(13, 30px);
  column-gap: 2px;
}

.tab {
  grid-column-start: 1;
  grid-column-end: 3;
}

butoon {
  -ms-grid-column-span: ;
}


/* https://www.youtube.com/watch?v=7AgEjgUtho4&t=48s&pp=ygUbZ3JpZCBpbiBjc3MgY29kZSB3aXRoIGhhcnJ5 */
/* https://www.youtube.com/watch?v=uE3YdHfkuxU&t=175s&pp=ygUSZ3JpZCBpbiBjc3NuaXBwZXRz */