.parent {
  border: 2px solid black;
  padding: 50px;
  margin: 30px;
  /* position: relative; */
}
.child {
  width: 90vw;
  height: 10vh;
  border: 2px solid red;

}
.child1 {
  background-color: aqua;
  position: absolute;
  top: 120px;
  right: 20px;
  z-index: 1;
}
.child2 {
  background-color: blanchedalmond;
  position: relative;
  /* z-index: 1; */
}
.child3 {
  background-color: blueviolet;
  position: absolute;
  z-index: 1;
}
.child4 {
 background-color: burlywood;
 position: fixed;
 /* top: 100px; */
}